/*
 * Additional CSS for login page with shibboleth extension
 */

/* Message on top */
#shib_message {
 margin-bottom: 35px;
}
	#shib_message .loginlink {
	  vertical-align: middle;
	}
		#shib_message .loginlink a {
		 display: block;
		 float: right;
		 width: auto;
		 padding: 10px 50px;
		 background-color: ;
		background: #fe9500 url('/typo3/sysext/t3skin/images/login/login-submit-background.gif') bottom repeat-x;
/*		background-image:linear-gradient(center top,#fe9500 0%,#cf6610 100%);
		background-image:-moz-linear-gradient(center top,#fe9500 0%,#cf6610 100%);
		background-image:-webkit-gradient(linear,0% 0%,0% 100%,color-stop(0,#fe9500),color-stop(1,#cf6610));
		 background-repeat: repeat-x;
*/		 border-top: 1px solid #ffb955;
		 border-left: 1px solid #E69036;
		 text-shadow: 0px -1px 0px rgba(149,81,5,0.6);
		 color:#fff;
		}

/* Toggler for local login form */
.shib_togglediv {
 color: #797878;
}
#shib_toggle_localform {
 background-image: url('/typo3/sysext/t3skin/images/sprites/t3skin@x2.png?1391354179') !important;
 background-size: 322px 525px;
 margin-right: 2px;
 vertical-align: middle;
 display: inline-block;
 overflow: hidden;
 position: relative;
 background-repeat: no-repeat;
 font-size: 1px;
 height: 16px;
 line-height: 0;
 width: 16px;
 background-position: -90px -90px !important;
}
	#shib_toggle_localform.active {
	 background-position: -72px -90px !important;
}

/* Local form */
#shib_localform .t3-login-alert.shib h2 {
 color: red;
}

